In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "1cd6c550-7947-4d6a-9bf6-48f48fc49180",
"fs.azure.account.oauth2.client.secret": 'lxM8Q~PLtV8LLLUlQyqvLUHp4TqRfJb86._u9bIL',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/e24ac094-efd8-4a6b-98d5-a129b32a8c9a/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokolympicstorageaccount.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolymic",
extra_configs = configs)

True

In [0]:
#Checking if file is already mount or not:

dbutils.fs.ls("/mnt/")

[FileInfo(path='dbfs:/mnt/tokyoolymic/', name='tokyoolymic/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/mnt/tokyoolympic/', name='tokyoolympic/', size=0, modificationTime=0)]

In [0]:
#Checking Mount points

dbutils.fs.mounts()

[MountInfo(mountPoint='/databricks-datasets', source='databricks-datasets', encryptionType=''),
 MountInfo(mountPoint='/Volumes', source='UnityCatalogVolumes', encryptionType=''),
 MountInfo(mountPoint='/databricks/mlflow-tracking', source='databricks/mlflow-tracking', encryptionType=''),
 MountInfo(mountPoint='/mnt/tokyoolympic', source='abfss://tokyo-olympic-data@tokolympicstorageaccount.dfs.core.windows.net', encryptionType=''),
 MountInfo(mountPoint='/databricks-results', source='databricks-results', encryptionType=''),
 MountInfo(mountPoint='/mnt/tokyoolymic', source='abfss://tokyo-olympic-data@tokolympicstorageaccount.dfs.core.windows.net', encryptionType=''),
 MountInfo(mountPoint='/databricks/mlflow-registry', source='databricks/mlflow-registry', encryptionType=''),
 MountInfo(mountPoint='/Volume', source='DbfsReserved', encryptionType=''),
 MountInfo(mountPoint='/volumes', source='DbfsReserved', encryptionType=''),
 MountInfo(mountPoint='/', source='DatabricksRoot', encryptionType=''),
 MountInfo(mountPoint='/volume', source='DbfsReserved', encryptionType='')]

In [0]:
#Unmounting the mount point

dbutils.fs.unmount("/mnt/tokyoolymic")

/mnt/tokyoolymic has been unmounted.

True

In [0]:
%fs
ls "/mnt/tokyoolymic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolymic/raw-data/,raw-data/,0,1694529207000
dbfs:/mnt/tokyoolymic/transformed-data/,transformed-data/,0,1694529221000

True

In [0]:
spark

In [0]:
athletes = spark.read.csv("/mnt/tokyoolymic/raw-data/athletes.csv", header=True, inferSchema=True)
coaches = spark.read.csv("/mnt/tokyoolymic/raw-data/athletes.csv", header=True, inferSchema=True)
entriesgender = spark.read.csv("/mnt/tokyoolymic/raw-data/entriesgender.csv", header=True, inferSchema=True)
medals = spark.read.csv("/mnt/tokyoolymic/raw-data/medals.csv", header=True, inferSchema=True)
teams = spark.read.csv("/mnt/tokyoolymic/raw-data/teams.csv", header=True, inferSchema=True)

In [0]:
athletes.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
athletes.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

In [0]:
coaches.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
entriesgender.show()

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

In [0]:
entriesgender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.show()

+----+--------------------+----+------+------+-----+-------------+
|Rank|        Team_Country|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams.show()

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

In [0]:
teams.printSchema()

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
#list of top 10 countries by Rank:

high_medal_countries = medals.orderBy("Rank by Total", asceding = True).select(["Rank","Team_country","Rank by Total"]).show(10)

+----+--------------------+-------------+
|Rank|        Team_country|Rank by Total|
+----+--------------------+-------------+
|   1|United States of ...|            1|
|   2|People's Republic...|            2|
|   5|                 ROC|            3|
|   4|       Great Britain|            4|
|   3|               Japan|            5|
|   6|           Australia|            6|
|  10|               Italy|            7|
|   9|             Germany|            8|
|   7|         Netherlands|            9|
|   8|              France|           10|
+----+--------------------+-------------+
only showing top 10 rows

In [0]:
#Find the top 10 countries with the highest number of gold madels.

top_gold_medals = medals.orderBy("Gold", ascending = False).select(["Rank","Team_Country","Gold"]).show(10)

+----+--------------------+----+
|Rank|        Team_Country|Gold|
+----+--------------------+----+
|   1|United States of ...|  39|
|   2|People's Republic...|  38|
|   3|               Japan|  27|
|   4|       Great Britain|  22|
|   5|                 ROC|  20|
|   6|           Australia|  17|
|  10|               Italy|  10|
|   9|             Germany|  10|
|   8|              France|  10|
|   7|         Netherlands|  10|
+----+--------------------+----+
only showing top 10 rows

In [0]:
#Find the least 10 countries with the gold medals.
least_gold_medals = medals.orderBy("Gold", descending = True).select(["Rank","Team_Country", "Gold"]).show(10)

+----+------------------+----+
|Rank|      Team_Country|Gold|
+----+------------------+----+
|  74|            Jordan|   0|
|  70|        Kyrgyzstan|   0|
|  66|          Colombia|   0|
|  69|           Armenia|   0|
|  72|         Argentina|   0|
|  71|          Mongolia|   0|
|  72|        San Marino|   0|
|  74|          Malaysia|   0|
|  68|Dominican Republic|   0|
|  67|        Azerbaijan|   0|
+----+------------------+----+
only showing top 10 rows

In [0]:
entriesgender.show(10)

+-------------------+------+----+-----+
|         Discipline|Female|Male|Total|
+-------------------+------+----+-----+
|     3x3 Basketball|    32|  32|   64|
|            Archery|    64|  64|  128|
|Artistic Gymnastics|    98|  98|  196|
|  Artistic Swimming|   105|   0|  105|
|          Athletics|   969|1072| 2041|
|          Badminton|    86|  87|  173|
|  Baseball/Softball|    90| 144|  234|
|         Basketball|   144| 144|  288|
|   Beach Volleyball|    48|  48|   96|
|             Boxing|   102| 187|  289|
+-------------------+------+----+-----+
only showing top 10 rows

In [0]:
#Calculate the average number of entries by gender for each discipline:

average_entries_by_gender = entriesgender.withColumn(
    'Avg_Female', entriesgender['Female'] / entriesgender['Total']
).withColumn(
    'Avg_Male', entriesgender['Male'] / entriesgender['Total']
)
average_entries_by_gender.show(10)

+-------------------+------+----+-----+-------------------+------------------+
|         Discipline|Female|Male|Total|         Avg_Female|          Avg_Male|
+-------------------+------+----+-----+-------------------+------------------+
|     3x3 Basketball|    32|  32|   64|                0.5|               0.5|
|            Archery|    64|  64|  128|                0.5|               0.5|
|Artistic Gymnastics|    98|  98|  196|                0.5|               0.5|
|  Artistic Swimming|   105|   0|  105|                1.0|               0.0|
|          Athletics|   969|1072| 2041| 0.4747672709456149|0.5252327290543851|
|          Badminton|    86|  87|  173|0.49710982658959535|0.5028901734104047|
|  Baseball/Softball|    90| 144|  234|0.38461538461538464|0.6153846153846154|
|         Basketball|   144| 144|  288|                0.5|               0.5|
|   Beach Volleyball|    48|  48|   96|                0.5|               0.5|
|             Boxing|   102| 187|  289|0.35294117647058826|0.6470588235294118|
+-------------------+------+----+-----+-------------------+------------------+
only showing top 10 rows

In [0]:
#To store the transformed data into Azure datalake:
##.mode("overwrite") is for overwrtitng the file in the folder.
##.repartition(1) is to partition the into specified value.

athletes.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/athletes")
coaches.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/medals")
teams.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolymic/transformed-data/teams")